@{
    ViewData["Title"] = "Início";
}


<div style="margin-top:200px;" class="text-center">
    <div class="starter-template">
        <h1>Seja bem vindo</h1>
        <p class="lead">Ao seu educador financeiro particular</p>
    </div>
</div>
