<p>
    <a class="btn btn-info"
       asp-action="Create"
       data-toggle="tooltip"
       data-placement="right"
       title="Clique para adicionar um novo registro">
       <span class="fa fa-plus-circle"></span> Novo
    </a>
</p>