<button type="submit"
        class="btn btn-lg btn-success"
        data-toggle="tooltip"
        data-placement="top"
        title="Clique para salvar as informações">
    <span class="fa fa-save"></span> Salvar
</button>

<a class="btn btn-lg btn-info" asp-action="Index"
    data-toggle="tooltip"
    data-placement="top"
    title="Clique para voltar a listagem">
    Voltar
</a>

